
body {
    margin: 5px, 5px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;   
    
  }
  p{
      font-size: 15px;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    height: 92vh;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  #date_heure {
      font-size: 15px;
      color: #f2f2f2;
      margin-left: 33%;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  .experience {
      /* height: 100vh; */
  }
    
  .description{
      width: 40%;
      text-align: center;
  }
  p {
      font-style: oblique;
  }
  .detail {
    border: 10px solid rgb(241, 72, 72); 
    border-radius: 50px;     
    background-color: white;
  }
  
 .garonne, .alternant {
    display: flex;
 }
 /* .srcl {
    display: flex;

 } */
  .vide{
    width: 40%;
 }
 .vide_middle {
   width: 20%;
 }

  .dateShowJsHidden{
    display: none;
  }
